body{
    width: 3000px;
    height: 3000px;
}
.photos img{
    width: 200px;
    height: 200px;
    border: 5px solid #aaa;
}
.photos img:hover{
    cursor: pointer;
    border: 5px solid #080;
}
.main img{
    width: 750px;
    height: 750px;
    border: 5px solid #aaa;
} 
#btn{
    width: 20px;
    height: 20px;
    border: none;
    /* border-radius: 50%; */
    background: #fa0;
    cursor: pointer;
    position: fixed;
    bottom: 10px;
    right: 10px;
    display: none;
}